<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<connectionStrings>
		<add name="OrquestadorDb" connectionString="Data Source=SCATOAGLSPRD.molinosagro.ad;Initial Catalog=MOAOrquestador;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="UrlOrquestador" value="net.tcp://{0}:8081/ServicioOrquestador,http://{0}:8080/ServicioOrquestador" />
		<add key="UrlOrquestadorSAP" value="http://{0}:8080/ServicioOrquestadorSAP" />
		<!-- La depuración corre cada 2 horas y borra suscripciones de temporales de más de 4 horas -->
		<!-- 4 hs en segundos -->
		<add key="TimeoutSuscripciones" value="14400" />
		<!-- 2 hs en segundos -->
		<add key="IntervaloDepuracionSuscripciones" value="7200" />
		<add key="IntervaloActualizarEstado" value="0" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
    <!-- cantidad maxima de notificaciones por minuto, por dispositivo. En 0, se deshabilita la funcion. -->
    <add key="maxNotificacions" value="15" />
    <add key="TiempoReintentoReconexion" value="5000" />
    <add key="TiempoPing" value="1000" />
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
	</startup>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="SuscriptorBinding">
					<security mode="None">
					</security>
				</binding>
				<binding name="CommonBinding" openTimeout="00:10:00" closeTimeout="00:10:00" sendTimeout="00:10:00" receiveTimeout="00:10:00" maxBufferPoolSize="200000000" maxBufferSize="200000000" maxReceivedMessageSize="200000000">
					<security mode="TransportCredentialOnly">
						<transport clientCredentialType="Ntlm"/>
					</security>
				</binding>
				<binding name="ServicioSAPBinding">
					<security mode="None">
					</security>
				</binding>
				<binding name="ServiciosOrquestBinding" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxBufferPoolSize="200000000" maxBufferSize="200000000" maxReceivedMessageSize="200000000" useDefaultWebProxy="true">
					<security mode="None" />
				</binding>
			</basicHttpBinding>
			<netTcpBinding>
				<binding name="NetTcpBinding" openTimeout="00:10:00" closeTimeout="00:10:00" sendTimeout="00:10:00" receiveTimeout="00:10:00" maxBufferPoolSize="200000000" maxBufferSize="200000000" maxReceivedMessageSize="200000000">
					<security mode="Transport">
						<transport protectionLevel="None" />
					</security>
				</binding>
			</netTcpBinding>
			<customBinding>
				<binding name="longSendTcpBinding" receiveTimeout="infinite" sendTimeout="00:50:00">
					<binaryMessageEncoding maxSessionSize="1048576">
						<readerQuotas maxStringContentLength="65536" maxArrayLength="2097152"/>
					</binaryMessageEncoding>
					<tcpTransport maxBufferPoolSize="402653184"
								  maxReceivedMessageSize="16777216"
								  channelInitializationTimeout="00:05:00"
								  maxBufferSize="16777216"
								  portSharingEnabled="true" />
				</binding>
			</customBinding>
		</bindings>
		<services>
			<service name="Molinos.Orquest.Servicios.Impl.ServicioOrquestador" behaviorConfiguration="serviceBehavior">
				<endpoint address="" binding="basicHttpBinding" bindingConfiguration="CommonBinding" contract="Molinos.Orquest.Servicios.IServicioOrquestador" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<endpoint address="" binding="netTcpBinding" bindingConfiguration="NetTcpBinding" contract="Molinos.Orquest.Servicios.IServicioOrquestador" />
			</service>
			<service name="Molinos.Orquest.Servicios.Impl.ServicioOrquestadorSAP" behaviorConfiguration="serviceBehaviorSAP">
				<endpoint address="" binding="basicHttpBinding" bindingConfiguration="ServicioSAPBinding" contract="Molinos.Orquest.Servicios.IServicioOrquestadorSAP" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>
			<service name="Molinos.Orquest.Servicios.Impl.ServicioSuscriptor" behaviorConfiguration="serviceBehavior">
				<endpoint address="" binding="basicHttpBinding" bindingConfiguration="CommonBinding" contract="Molinos.Orquest.Servicios.IServicioSuscriptor" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8080/ServicioSuscriptor" />
					</baseAddresses>
				</host>
			</service>
		</services>
		<client>
			<endpoint name="RemoteNovaConnection" address="net.tcp://localhost:8899/Nova/remoteAPI" binding="customBinding" bindingConfiguration="longSendTcpBinding" contract="FOSS.Nova.CoreServer.RemoteAPI.Client.Contract.INovaRemoteAPI"/>
			<!--<endpoint name="ServicioALPR" address="http://localhost/Orquest.ModuloALPR/ServicioALPR.svc?wsdl" binding="basicHttpBinding" bindingConfiguration="ServiciosOrquestBinding" contract="ServicioALPR.IServicioALPR" />-->
			<endpoint name="ServicioALPR" address="http://gsloscatoapp00.molinosagro.ad/Orquest.ModuloALPR/ServicioALPR.svc?wsdl" binding="basicHttpBinding" bindingConfiguration="ServiciosOrquestBinding" contract="ServicioALPR.IServicioALPR" />
		</client>
		<behaviors>
			<serviceBehaviors>
				<behavior name="serviceBehavior">
					<serviceThrottling maxConcurrentCalls="500" maxConcurrentSessions="500" maxConcurrentInstances="500" />
					<serviceMetadata httpGetEnabled="True" />
					<serviceDebug includeExceptionDetailInFaults="True" />
					<serviceCredentials>
						<windowsAuthentication allowAnonymousLogons="false" includeWindowsGroups="false"/>
					</serviceCredentials>
					<serviceAuthorization
						serviceAuthorizationManagerType="Molinos.Orquest.Servidor.Seguridad.AuthorizationManager, Molinos.Orquest.Servidor">
					</serviceAuthorization>
				</behavior>
				<behavior name="serviceBehaviorSAP">
					<serviceThrottling maxConcurrentCalls="500" maxConcurrentSessions="500" maxConcurrentInstances="500" />
					<serviceMetadata httpGetEnabled="True" />
					<serviceDebug includeExceptionDetailInFaults="True" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.12.0" newVersion="2.0.12.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.ApplicationInsights" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.20.0.103" newVersion="2.20.0.103" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<log4net>
		<root>
			<level value="ALL" />
			<appender-ref ref="aiAppender" />
		</root>
		<appender name="aiAppender" type="Microsoft.ApplicationInsights.Log4NetAppender.ApplicationInsightsAppender, Microsoft.ApplicationInsights.Log4NetAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%message%newline" />
			</layout>
		</appender>
	</log4net>
</configuration>