<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>
  <appSettings>
    <add key="LicenciaALPR" value="SEpKS0xNTk3t6Ont7enn7Obm1e7i7Pf6z/L9/qWgoa6voa2pq6uvqpeYlZuTl5GRAiQLHbCEZo4Xhmh8WwEBNPAAUs2e/ZlHBFfQmrEBSDHQlgTV3HIUh0SxRqmNUP+tMdwQCJdoAV72iPM9R/xzoPukC4PI1PZMpVBAWzVM4tXxaslcZ4uKwW5tnLB7n0b5" />
	<add key="RutaImagenes" value="C:/orquestadorLogs/fotosALPR" />
	<add key="GuardarImagenes" value="false" />
  </appSettings>
  <system.serviceModel>
    <services>
      <service name="Molinos.Orquest.ModuloALPR.Impl.ServicioALPR" behaviorConfiguration="Autenticacion">
        <endpoint binding="basicHttpBinding" bindingConfiguration="ServiciosOrquestBinding" contract="Molinos.Orquest.ModuloALPR.IServicioALPR" />
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="ServiciosOrquestBinding" maxReceivedMessageSize="2147483647">
          <security mode="None" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <extensions>
      <behaviorExtensions>
        <add name="internacionalizacion" type="Molinos.Orquest.ModuloALPR.Behavior.InternacionalizacionBehavior, Molinos.Orquest.ModuloALPR, Version=1.0.0.0, Culture=neutral" />
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="Autenticacion">
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
          <!--<serviceCredentials>
            <windowsAuthentication allowAnonymousLogons="false" includeWindowsGroups="false"/>
          </serviceCredentials>
          <serviceAuthorization
              serviceAuthorizationManagerType="Molinos.Scato.Servicios.Seguridad.AuthorizationManager, Molinos.Scato.Servicios">
          </serviceAuthorization>-->
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior>
          <internacionalizacion />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="Session" />
    </modules>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.12.0" newVersion="2.0.12.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>